.cidfile
.flatpak-builder
.iidfile
.vscode
build
builddir
icytower.flatpak
icytower.Debug.flatpak
icytower.zip
repo

# macOS & Xcode
.DS_Store
xcuserdata/
*.xcworkspace/xcuserdata/
build/
DerivedData/
